<plugin name='primefaces' version='0.1' grailsVersion='2.3.7 &gt; *'>
  <author>Andrea Minnucci</author>
  <authorEmail>andreaminnucci77@gmail.com</authorEmail>
  <title>Primefaces Plugin</title>
  <description>Grails plugin integrating Primefaces into the Grails project
</description>
  <documentation>https://github.com/andreaminnucci77/primefaces</documentation>
  <type>PrimefacesGrailsPlugin</type>
  <resources>
    <resource>PrimefacesBootStrap</resource>
  </resources>
</plugin>